<!DOCTYPE html>
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{{ book.name }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        h1 {
            color: #333;
        }
        p {
            margin: 10px 0;
        }
        .categories {
            list-style-type: none;
            padding: 0;
        }
        .categories li {
            display: inline-block;
            margin-right: 10px;
            background-color: #f2f2f2;
            padding: 5px 10px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>{{ book.name }}</h1>
    <img src="{{ MEDIA_URL }}{{ book.image.url }}" alt="{{ book.name }}{% trans "cover" %}">
    <p>{% trans "By" %}: {{ book.author_name }}</p>
    <p>{% trans "Categories" %}:</p>
    <ul class="categories">
        {% for category in book.category.all %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
    <p>{% trans "Page Count" %}: {{ book.page_count }}</p>
    <p>{% trans "Price" %}: Gel {{ book.price }}</p>
    <p>{% trans "Cover Type" %}: {{ book.get_cover_type_display }}</p>
</body>
</html>